@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body {
    display: flex;
    background-color: black;
    height: 100vh;
    overflow: hidden;
    color: white;
    font-family: "Plus Jakarta Sans", sans-serif;
}

aside,
main, 
header {
    background-color: transparent;
}

aside,
main {
    height: inherit;
}

aside {
    width: 25%
}

main {
    width: 75%;
    display: flex;
}

#dynamic-container{
    position: relative;
}

#dynamic-container,
#collapse-container,
aside{
    margin: 0.5em 0.3em;
}

header {
    position: absolute;
    top: 0;
    right: 0;
}

.bg-dark {
    border-radius: 5px;
}
 
aside ul{
    padding: 0;
    margin: 0;
}

aside ul li {
    list-style-type: none;
    padding: 0.5em 0;
}

aside a {
    color: white;
    opacity: 0.8;
    text-decoration: none;
    font-weight: 700;
}

aside .container{
    padding: 0.8em 1.5em;
    margin-bottom: 0.4em;
}

#home-btns i,
#library-btns i{
    font-size: 1.4em;
}

#home-btns span{
    font-size: 1em;
    padding: 0 1.5em;
}

#library-btns{
    display: flex;
    justify-content: space-between;
}

#library-btns span {
    padding: 0 1em
}

#navigation-btns {
    display: flex;
}

#navigation-btns li{
    border-radius: 15px;
    padding: 0.3em 0.5em;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 0.9em;
    margin: 0 auto;
}

#library-btns,
#navigation-btns,
#recent {
    margin-bottom: 0.5em;
}

#recent #search-btns{
    display:flex;
    justify-content: space-between;
}

#recent #search-btns span {
    padding: 0 0.5em;
    font-size: 0.8em;
    font-weight: 400;
}

#recent ul li{
    list-style: none;
    border-radius: 5px;
}

#recent ul:nth-of-type(2) li a,
#recent ul:nth-of-type(3) li a {
    padding: 0.5em;
    display: flex;
}

#recent ul:nth-of-type(2) li a:hover,
#recent ul:nth-of-type(3) li a:hover{
    background-color: rgba(255, 255, 255, 0.13);
    padding: 0.5em;
    border-radius: 5px;
}


#recent ul:nth-of-type(3) li img{
    height: 50px;
    margin-right: 0.5em;
    border-radius: 50%;
}

#recent ul li img{
    height: 50px;
    margin-right: 0.5em;
    border-radius: 5px;
}

main header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.collapse {
    width: 40%;
}